<h2>Questions</h2>
<div class="left_sidebar">
<% @questions.each do |question| %>

<div class='content_box'>
<%= link_to question.title, question_path(question) %>

<span><%= truncate question.body %></span>


</div>

<% end %>
<br>
<br>
<div class="button_one"><%= link_to "Ask a Question", new_question_path %></div>
</div>

<div id="right_sidebar"> </div>
<br>
<br>
<br>
<br>