<div class="left_sidebar">
<div class="container">
<h3><%= @question.title %></h3>
<p>
<%= @question.body %>
</p>
<div>
<div class="simple_button"><%= link_to "Back", questions_path %></div>

<% if current_user %>
<% if current_user.id == @question.user_id %>
<div class="simple_button"><%= link_to "Update", edit_question_path(@question) %></div>
<% end %>
<% end %>
</div>