<%= form_for [@question, @question.comments.build] do |f| %>

<%= f.label :body %>
<div id="comment_area"><%= f.text_area :body %></div>
<br>
<div class="simple_button"><%= f.submit "Add Comment" %></div>
<% end %>