/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
 	margin: 0;
 background-color: #F8F8F8;
 }


/* #### nav bar ####*/
nav {
	
}


nav ul {
	margin: 0;
height: 40px;
}

nav li {
	margin: 5px;
	padding: 5px;
	
	text-decoration: none;
	display: inline;
	float: right;
border: 1px solid black;
border-radius: 5px;
}

nav a {
color: black;
}

nav li:hover {
}

/* #################### */

 /*  #####  button one #######   */
.button_one {
height: 20px;
width:  100px;

border: 1px solid black;
border-radius: 5px;

margin: 5px;
padding: 5px;

font-family: serif;
opacity:  1.0;
transition: opacity .5s ease-in-out;
background-color: white;
}

.button_one:hover {
background-color: #66CC99;
opacity: .8;
}


 
.button_one a {
display: block;
color: #66CC99;
opacity:  1.0;
transition: opacity .5s ease-in-out;
}

.button_one:hover a{
color: white;
opacity: .8;
}


/*  ##################   */